.bg-grey{
  background-color: #ECECEC;
}
.bg-tutor{
  background-color: #949494;
}
.dashboard{
  border-right-style: solid;
  border-width: medium;
  border-color: #949494;
  height: 100%;
  position: fixed;
}
.equal {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
}
